.vibb-online {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.vibb-online .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.vibb-online .screenshot-from {
  height: 435px;
  left: 48px;
  position: absolute;
  top: 42px;
  width: 435px;
}

.vibb-online .overlap-group {
  background-color: #d9d9d9;
  height: 435px;
  left: 538px;
  position: absolute;
  top: 42px;
  width: 853px;
}

.vibb-online .text-wrapper {
  color: #000000;
  font-family: "Inria Sans-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.vibb-online .ROBERT-is-best {
  color: #000000;
  font-family: "Inria Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
}

.vibb-online .span {
  color: #000000;
  font-family: "Inria Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.vibb-online .text-wrapper-2 {
  font-family: "Inria Sans-LightItalic", Helvetica;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

.vibb-online .shared-image {
  height: 489px;
  left: 48px;
  position: absolute;
  top: 498px;
  width: 490px;
}

.vibb-online .img {
  height: 489px;
  left: 653px;
  position: absolute;
  top: 498px;
  width: 638px;
}
